
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

section, header, footer, nav, div, span, ul, li, a {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #f2f2f2;
}

header nav {
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 0 20px;
}

header ul a {
    font-weight: 700;
    text-decoration: none;
    color: #4d4d4d;
    height: 50px;
    display: block;
    position: relative;
}

header ul a span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

section {
    float: left;
    display: block;
    height: 100%;
    padding: 75px 0 0 0;
    margin: 0;
}

#section-groening, #section-life, #section-simpsons,
#section-futurama, #section-disenchantment{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;/*sets height of rows*/
  grid-template-areas:/*designates areas to certain sections*/
  'hd hd hd'/*heading*/
  'trait pic info'/*nav menu*/
}
.heading{
  grid-area: hd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.traits{
  grid-area: trait;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*ul{
  background-color:#CFDDDB;
  background-color-opacity: 50%;
}*/
.info{
  grid-area: info;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.pic{
  grid-area: pic;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#groening{
width:70%;
}
#homer{
  width:100%;
}
#homer, #bender, #fry, #binky, #luci{

}
#bender{
    width:70%;
}
#fry{
  width:100%;
}
#binky{
  width:60%;
  outline-style: dotted;
}
.shadow{
  width:80%;
  padding-bottom: 2%;

}





button{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;


}
#section-main {
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#section-groening{
    background: #F7B7D2;
}

#section-life{
    background: white;

}

#section-simpsons{
  background-image: url(../img/house.png);
      background-repeat:no-repeat;
  background-size: cover;
}

#section-futurama{
    background-image: url(../img/fut-back.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

#section-disenchantment {
  background-image: url(../img/castle.jpg);
  background-repeat:no-repeat;
  background-size: cover;}
#section-quiz{
  z-index:10;
}











.horizon-prev, .horizon-next {
    position: fixed;
    top: 50%;
    margin-top: -24px;
    z-index: 9999;
}

.horizon-prev {
    left: 25%;
}

.horizon-next {
    right: 25%;
}


/*Quiz*/

#section-section-quiz{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}



/*House img link: https://ecodiario.eleconomista.es/viralplus/noticias/9317872/08/18/www.liveramp.com/service-privacy-policy/www.indexexchange.com/privacy
Binky: https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwi4y7Hp2v_dAhUKuFMKHRv6BHEQjRx6BAgBEAU&url=http%3A%2F%2Ftipos-de-cancer.info%2Fsimpsons-matt-groening-life.php&psig=AOvVaw3x_kWfVhsr1j4GJLF53IGm&ust=1539392557533385
Futurama Background: https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjjx-uE6__dAhUH31MKHahSBIcQjRx6BAgBEAU&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F567383253027579741%2F&psig=AOvVaw2qW_a5TJEBvBOrkzQZ2DVS&ust=1539397043207639
Luci img: https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjI67_U9__dAhUJrFMKHZSDAW4QjRx6BAgBEAU&url=https%3A%2F%2Fwww.deviantart.com%2Fluxkirigaya%2Fart%2FDisenchantment-Luci-760055201&psig=AOvVaw1GyLIxQOhbYupn1Q6SUG21&ust=1539400436374079
Castle img: https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwik_uyK-f_dAhWBwFMKHVPyB7gQjRx6BAgBEAU&url=https%3A%2F%2Fwww.imdb.com%2Ftitle%2Ftt7177814%2Fmediaviewer%2Frm2331932672&psig=AOvVaw2Gy6VAgtYidMQ7VmsXTRX8&ust=1539400746141289

Bender gif: https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjcjsqp-P_dAhWK61MKHb2NC5AQjRx6BAgBEAU&url=https%3A%2F%2Fgifer.com%2Fen%2F2vDa&psig=AOvVaw0_qyQPNB_P7n0tdUH7dyPM&ust=1539400550880683
