
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

section, header, footer, nav, div, span, ul, li, a {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #f2f2f2;
}

header nav {
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 0 20px;
}

header ul a {
    font-weight: 700;
    text-decoration: none;
    color: #4d4d4d;
    height: 50px;
    display: block;
    position: relative;
}

header ul a span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

section {
    float: left;
    display: block;
    height: 100%;
    padding: 75px 0 0 0;
    margin: 0;
}

#section-section-history, #section-section1, #section-section2,
#section-section3, #section-section4{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;/*sets height of rows*/
  grid-template-areas:/*designates areas to certain sections*/
  'hd hd hd'/*heading*/
  'trait pic info'/*nav menu*/
}
.heading{
  grid-area: hd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.traits{
  grid-area: trait;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.info{
  grid-area: info;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.pic{
  grid-area: pic;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#groening{
width:70%;
}
#homer{
  width:100%;
}
#bender{
    width:100%;
}
#fry{
    width:100%;
}
.shadow{
  width:80%;

}




#section-section0 {
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;


}
#section-section0 {
    background: #F7D02C;
}
#section-section-history{
    background: #F7B7D2;
}

#section-section1 {
    background: #F7D02C;
}

#section-section2 {
    background: #C72042;
}

#section-section3 {
    background: #20BAC7;
}

#section-section4 {
    background: #c0392b;
}
#section-section-quiz{
  z-index:10;
}











.horizon-prev, .horizon-next {
    position: fixed;
    top: 50%;
    margin-top: -24px;
    z-index: 9999;
}

.horizon-prev {
    left: 25%;
}

.horizon-next {
    right: 25%;
}


/*Quiz*/

#section-section-quiz{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
