/*sets up sections for slides*/
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 1em;
    line-height: 150%;
}

section, header, footer, nav, div, span, ul, li, a {
    box-sizing: border-box;
}
.nav-h{
  font-family: 'Rajdhani', sans-serif;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #f2f2f2;
}

header nav {
  background:#4375DC;
  font-size: 10px;

}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 0 20px;

}

header ul a {
    font-weight: 700;
    text-decoration: none;
    color:white;
    height: 50px;
    display: inline-block;
    position: relative;
}

header ul a span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;

}

section {
    float: left;
    display: block;
    height: 100%;
    width:100%;
    padding-top: 75px;
    margin: 0;
}
/*sets up button on first page*/
button{
  background:#204CA8;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 15px;

  border-radius: 10px;
  border-style:inset;
  border-color: black;
  border-width:medium;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 7.5%;
}
/*sets up font and size, padding of main title on main page*/
#site-title{
  font-family: 'Rajdhani', sans-serif;
  font-size: 28px;
  padding-bottom: 4%;
}
/*sets up heading fonts and colors*/
#groening-h{
  font-family: 'Teko', sans-serif;
}
#life-h{
  font-family: 'Indie Flower', cursive;
  color:black;
}
#simpsons-h{
  font-family: 'Patrick Hand SC', cursive;
  color:white;
}
#futurama-h{
  font-family: 'Press Start 2P', cursive;
  color:red;
}
#disenchantment-h{
  font-family: 'Fredericka the Great', cursive;
  color:gold;
}


/*sets up modal background, padding, border*/
.modal-content{
  background: rgba(130, 167, 181, 0.8);
  padding:2%;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 8px;
  font-family: 'Rajdhani', sans-serif;
}
/*sets up CSS grid for the different character slides*/
#section-groening, #section-life, #section-simpsons,
#section-futurama, #section-disenchantment{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;/*sets height of rows*/
  grid-template-areas:/*designates areas to certain sections*/
  'hd hd hd'/*heading*/
  'trait pic info'/*nav menu*/
}
  .heading{
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
  }
  .traits{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: column;
    grid-area: trait;
  }
  .info{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: column;
    grid-area: info;
  }
  .pic{
    grid-area: pic;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
  /*sets up border, background, padding for traits and info on each character slide*/
  .trait-list, .info-list {
    background: rgba(130, 167, 181, 0.8);
    padding:8%;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
    font-family: 'Rajdhani', sans-serif;
  }

/*Stacks the character layouts on small devices/viewports. */
@media only screen and (max-width: 575px) {
#section-groening, #section-life, #section-simpsons,
  #section-futurama, #section-disenchantment{
    display:grid;
       grid-template-columns: 100%;
       grid-template-rows: 20% 1fr;
       grid-template-areas:
       "hd"
       "pic"
   }
   nav{
     display:none;
   }

/*hides the info paragraph*/
  .traits, .info{
    display:none;
  }
  .heading{
       grid-area: hd;
       padding-top: 0px;
    }
  .pic{
    grid-area: pic;
    width:100%;
  }
  .shadow{
    width:20%;
    margin-bottom:0px;
  }
}
/*sets up mobile versions for sections for quiz and sources*/

@media only screen and (max-width: 575px)  {
#section-quiz, #section-sources{
  margin: 2%;
  margin-bottom: 3%;
}
}
/*sets up sizing for images for each character and their shadows*/
#groening{
width:50%;
}
#binky{
  width:50%;
  outline-style:ridge;
}
#bender{
width:55%;
}
#luci{
width:55%;
}
.shadow{
  width:80%;
  z-index:9999;
  margin-bottom: 5%;

}
/*sets up sections' backgrounds and flex for main, groening, simpsons, life in hell, futurama, and disenchantment*/
/*sets up directions for main page*/

#section-main{
    background: #EBC624;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index:9999;
}
/*sets up fonts for main page directions*/
#directions{
  font-family: 'Indie Flower', cursive;
}
/*sets up left and right arrows*/
.horizon-prev, .horizon-next {
    position: fixed;
    top: 50%;
    margin-top: -24px;
    z-index: 9998;
}

.horizon-prev {
    left: 35%;
}
.horizon-next {
    right: 35%;
}
/*sets up left and right arrows' for mobile view*/

@media only screen and (max-width: 575px) {
.horizon-prev {
left:2%;
}
.horizon-next {
  right: 2%;
}
}
#section-groening{
    background: #F5B161;
}

#section-life{
    background: white;
}
#section-simpsons{
  background-image: url(../img/house.png);
  background-repeat:no-repeat;
  background-size: cover;
}
#section-futurama{
    background-image: url(../img/fut-back.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
#section-disenchantment {
  background-image: url(../img/castle.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}
/*sets up quiz background and flex*/

#section-quiz{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background:#EBC624;
}
/*sets up grid for sources and background and fonts*/
#section-sources{
  background: #204CA8;

  font-family: 'Rajdhani', sans-serif;
}
#source-h{
}
#information{
  grid-area:info;
}
#coding{
  grid-area:code;
}
#images{
  grid-area:img;
}
#coding, #images, #information{
  font-family: 'Rajdhani', sans-serif;
}


/*From here on, gives plugin details for Quiz (called quizzie)*/
@import url(https://fonts.googleapis.com/css?family=Satisfy|Pathway+Gothic+One);
/* Defaults */
html,
body,

#quizzie {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}


body {
  background: #677c8a;
  color: #fff;
}

h1 {
  font-family: "Satisfy", "cursive";
  font-size: 2.5em;
}

h2,
p {
  font-family: "Pathway Gothic One", "sans-serif";
  font-size: 2em;
}

h1,
h2,
p {
  text-align: center;
  display: block;
  width: auto;
  margin: 1%;
}

#quizzie {
  padding: 5% 0;
  /* Individual Steps/Sections */
  /* Content */
}
#quizzie ul {
  list-style: none;
  display: block;
  width: auto;
  margin: 2% 2%;
  padding: 2%;
  overflow: auto;
  display: none;
  /* Step Questions and Answer Options */
}
#quizzie ul.current {
  display: block;
}
#quizzie ul li {
  display: inline-block;
  float: left;
  width: 49%;
  margin-right: 2%;
  overflow: auto;
  text-align: center;
}
#quizzie ul li.quiz-answer {
  cursor: pointer;
}
#quizzie ul li.question, #quizzie ul li.results-inner {
  display: block;
  float: none;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 2%;
}
#quizzie ul li.results-inner {
  padding: 5% 2%;
}
#quizzie ul li.results-inner img {
  width: 250px;
}
#quizzie ul li:last-child {
  margin-right: 0;
}
#quizzie .question-wrap, #quizzie .answer-wrap {
  display: block;
  padding: 1%;
  margin: 1em 10%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#quizzie .answer-wrap {
  background: Turquoise;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
#quizzie .answer-wrap:hover {
  background: DarkTurquoise;
}
