
/*h1{
  color:white;
  text-align: center;
}
button{
margin-left: 40%;
margin-right: 40%;
padding-top: 1%;
padding-bottom: 1%;
font-family:monospace;
}
.flex{
display:flex;
align-content: center;
justify-content: center;
flex-direction: column;
padding-top: 20%;
}

#homer{

}


#slide2{
  display: grid;
  grid-template-areas:
    "date name name"
    "traits char info"
    "shades shades shades";
  grid-template-rows: 20px 20px 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  }

/* .date, .shadow, .character, .traits, .info{
  display:flex;

} */
.date {
  grid-area: date;
  }
  .name{
    grid-area: name;

  }
.shades{
  grid-area: shades;
  }
.character {
  grid-area: char;
  }
.traits{
  grid-area: traits;
  }
.info {
  grid-area: info;

  }
/* Stack the layout on small devices/viewports. */
/*@media all and (max-width: 575px) {
  #slide2 {
    grid-template-areas:
      "header"
      "article"
      "ads"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr;
 }
}
